<html>
  <head>
    <style>
      h1, h2 {text-align: center;}
      p {text-align: center;}
    </style>
  </head>
  <body>

  <h1>Birthday App Home Page</h1>
  <h2>Whats Your Name?</h2>

  </body>
</html>


