<html>
  <head>
    <link type='text/css' rel='stylesheet' href='css/style.css'>
  </head>
  <body>

  <h1>Birthday App Home Page</h1>

  <form class="form" action="/user" method="post">

    <label for="enter_name">
      <h2>Whats Your Name?</h2>
      <input type="text" name="name">
    </label>
    <label for="enter_bday">
      <h2>When is your Birthday?</h2>
      Day:
      <input type="text" name="day">
    </label>  
      Month:
    <label for='month_test'>
    <select name="month">
      <option value="" selected disabled hidden>Choose here</option>
      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
    </label>
    <input type="submit" value="Submit">

  </form>

  </body>
</html>

  
