* { 
  font-family: "Gupter", sans-serif; 
  background-color: efefef;
  text-decoration: none;
}
h1, h2, h3, h4, .form {
  text-align: center;
}
.text_div {
  text-align: center;
  margin-top: 5em;
}
.blue {
  color: rgba(52, 52, 157, 0.859);
}